@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

*{
  margin: 0%;
  padding: 0%;
}
.row, .col-md-3, .col-md-9{
  margin: 0px !important;
  padding: 0px !important;
}
body{
  font-family: sans-serif;
  color: #3e4c59;
}
.logo{
  padding: 0.5rem 2rem;
}
.header{
  border-bottom: 1px solid whitesmoke;
  height: 10vh;
}
.editor-area{
  height: 90vh;
  overflow: auto;
}
.sidebar{
  /* width: 300px; */
  min-height: 90vh;
  /* height: 100%; */
  overflow: auto;
  background-color: whitesmoke;
  padding: 1rem;
  border-right: 1px solid whitesmoke;
}
.sidebar .MuiPaper-root{
  box-shadow: none !important;
  background-color: whitesmoke;
}
.primary{
  color: #2026d2;
}
.secondary{
  color: #62e1fc;
}
.text-1{
  color: #3e4c59;
  font-weight: 700;
}
.text-2{
  color: #3e4c59;
  font-weight: 500;
  font-style: italic;
}
.MuiAccordionSummary-content{
  align-items: center !important;
}
.MuiAccordionDetails-root{
  /* background-color: #fff; */
  flex-direction: column !important;
  padding: 0%;
}
.saved-query{
  background: #fff;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding: 0.2rem 0.5rem; 
}
.saved-query p{
  margin-bottom: 0.5rem;
  color: #2026d2;
  font-weight: 600;
}
.saved-query code{
  background: whitesmoke;
}
.previous-query{
  background: #fff;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}
.previous-query code{
  background: whitesmoke;
}
.editor{
  padding: 1rem 0.5rem;
  border-bottom: 1px solid whitesmoke;
  border-radius: 6px;
  background: whitesmoke;
  margin: 1rem;
}
.CodeMirror{
  border: 2px solid whitesmoke;
}
.editor-panel{
  display: flex;
  flex-direction: column;
}
.btn{
  width: 150px;
  margin: 0rem 0rem 0.2rem 0rem;
}
.btn button{
  font-weight: 700;
  height: 40px;
  width: 100%;
  font-size: 1rem !important;
  border-radius: 6px;
}
.primary-btn button{
  color: #fff;
  background: #2026d2;
  border: none;
}
.secondary-btn button{
  border: 2px solid #2026d2;
  background: #fff;
  color: #2026d2;
}
.alert-btn button{
  background: red;
  border: none;
  color: #fff;
}
.query-results{
  padding: 0.5rem 1rem;
  /* width: 100%;
  overflow: auto; */
}
.query-details{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.3rem 0.5rem;
}
.query-details .export-btn button{
  background-color: transparent;
  border: none;
  color: #2026d2;
}
.query-details p{
  margin: 0%;
  padding: 0;
}
thead{
  background-color: #2026d2;
  color: #fff;
  font-weight: 700;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.query-table{
  margin: 0rem 1.5rem 1rem 0rem;
  /* width: 100%; */
  height: 100%;
  overflow: auto;
}
.query-results .details{
  display: flex;
  justify-content: space-evenly;
}
.query-results .tabs{
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  /* margin-bottom: 1rem; */
}
.query-results .tab-bar{
  margin-bottom: 1rem;
  border-bottom: 1px solid #2026d2;
  display: flex;
  align-items: center;
}
.query-results .tabs.active{
  color: #fff;
  background-color: #2026d2;
  border-radius: 6px 6px 0px 0px;
}
.query-wrapper{
  height: 200px;
  overflow: auto;
}
.query{
  background-color: #fff;
  padding: 0.2rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}
.query code{
  background-color: whitesmoke;
}