.logo{
  padding: 0.5rem 2rem;
}
.header{
  border-bottom: 1px solid whitesmoke;
}
.sidebar{
  width: 400px;
  height: 90vh;
  overflow: auto;
  padding: 1rem;
  border-right: 1px solid whitesmoke;
}
.sidebar .MuiPaper-root{
  box-shadow: none !important;
}
.primary{
  color: #2026d2;
}
.secondary{
  color: #62e1fc;
}